.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;

  display: flex;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.app-croped {
  margin: 0px;
  width: min(100% - 30px, 850px);
  margin-inline: auto;

  height: 100%;
}

.background {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100svh;

  object-fit: cover;
  z-index: -2;
}
.background2 {
  z-index: -1;
}